name: xs

on:
  push:
    branches: [main]
    paths:
      - 'xs.yml'
      - 'xs.py'
  pull_request:
    branches: [main]
    paths:
      - 'xs.yml'
      - 'xs.py'
  schedule:
    - cron: '2 */2 * * *'
  watch:
    types: started
  workflow_dispatch:  # 手动触发

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: 初始化Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: 安装依赖
        run: |
          pip install -r ./requirements.txt
      - name: Run xs
        env:
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_USER_ID: ${{ secrets.TG_USER_ID }}# 从 Secrets 中读取 TOTP Secret
        run: |
          mkdir -p daili
          python3 xs.py

      # 5. 自动提交变更
      - name: Commit changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add -a
          git commit -m "自动更新小说列表 $(date +'%Y-%m-%d')" || echo "无变更"
          git push
